*{
    overflow: auto;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    font-size: 100%;
    margin: 0;
    padding: 0;
}
header small{color: white;}
h1{font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; margin: 0;}
h3{font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;color: dodgerblue; margin: 0;}
h4{font-family: monospace; margin: 0px;color: black;}
p{font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; margin: 0px; color: black;}
small{color: gray; font-family: 'Courier New', Courier, monospace;margin: 0px; display: block;}
h5{color: rebeccapurple;margin: 0;padding: 0;}


/*Header*/
header{
    display: grid;
    grid-template-columns: auto;
    padding: 5px;
    grid-gap: 5px;background: linear-gradient(to right,#03045e,gainsboro);
}
header i {color: black;font-size: 25px;height: 40px;}

.header-left{
    display: grid;
    grid-template-columns: 30% auto;
    padding: 5px;
    gap: 5px;
}
.hl-item1{
    background: url("images/dp.jpg") no-repeat;
    background-size: 100% 100%;
    border-radius: 50%;
}

.header-right{
    display: grid;
    grid-template-columns: auto auto;
    
    padding: 5px;
    grid-gap: 5px;
}
.hr-item{
    
    display: grid;
    grid-template-columns: auto 70%;
    padding: 10px;
    grid-gap: 10px;
}

.hr-item > .two{
    font-family: 'Courier New', Courier, monospace;
    color: dodgerblue;
}

/*Main*/
main i{font-size: 15px;height: 65px;color: orangered;padding-top: 5px;}
input{
    display: block;
    width: 80%;
    margin: 20px auto;
    padding: 2.5px;
    border: 2px solid dodgerblue;
}
.grid-container{
    display: grid;
    grid-template-columns: auto;
    padding: 20px;
    gap: 20px;
}

.grid-item:hover{
    border: 1px solid rgba(41, 111, 133, 0.24);
}
.grid-item{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    padding: 10px;
}
.grid-item > .one{
    width: 10%;
    color: white;
    border-radius: 8px;
}
.grid-item > .two{
    width: 75%;
    padding: 0px;
}

/*Footer*/
footer{
    margin-top: 100px;
}
footer h4{color: white;margin-bottom: 10px;}
footer p{font-size: 16px;font-family: serif;}
footer li p{display: inline-block;}
footer i{color: #03045e;}

.connect{background: #03055e3d;
    display: grid;
    grid-template-columns: 50% 50%;
}
[class*='col-']{
    background: #03055e3d;
    padding: 20px;
}

ul{margin: 0;padding: 0;}
button{
    color: white;
    background: linear-gradient(to right,#03045e,gainsboro);
    margin-top: 5px;
    border-radius: 8px;
}
.copyright{background: #03045e;
    text-align: center;
    padding: 5px;
    color: grey;
}





@media only screen and (min-width: 600px) {
    header{
        display: grid;
        grid-template-columns: 49.5% 49.5%;
        padding: 1%;
        grid-gap: 5px;background: linear-gradient(to right,#03045e,gainsboro);
    }
    .header-right{
        display: grid;
        grid-template-columns: 18.75% 18.75% 18.75% 18.75%;
        padding: 5%;
        grid-gap: 5%;
    }
    
    .hr-item{
        
        display: grid;
        grid-template-columns: auto;
        padding: 5px;
        grid-gap: 5px;
    }
    
    .hr-item > .two{
        font-family: 'Courier New', Courier, monospace;  
    }

    input{
        width: 30%;
    }
    

    .grid-container{
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        padding: 30px 20px;
        gap: 30px 10px;
    }
    
    
}